body {
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(225, 100%, 94%);
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
}

/* White Card */
.white-card {
  margin: 100px auto 10px auto;
  width: 410px;
  height: 690px;
  background-color: white;

  border-radius: 25px;
}

.white-card img {
  display: block;
  width: 410px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.white-card h1 {
  margin: 50px 0 25px 0;
  text-align: center;
}

.white-card .info {
  margin: 0 50px 20px 50px;
  text-align: center;
  line-height: 25px;
  font-size: 17px;
  color: hsl(215, 5%, 52%);
}

/* Pricing DIV */
.pricing {
  margin: 0 auto;
  background-color: hsl(228, 56%, 98%);
  width: 350px;
  height: 100px;
  border-radius: 15px;
}

.pricing img {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  margin: 25px 5px 25px 20px;
}

.pricing .plan {
  display: inline-block;
  vertical-align: middle;
  line-height: 25px;
  font-size: 17px;
}

.pricing .change {
  display: inline-block;
  margin-left: 95px;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  font-size: 14px;
  color: hsl(245, 75%, 52%);
}

.change:hover {
  text-decoration: none;
  opacity: 0.5;
}

.change a:link {
  color: hsl(245, 75%, 52%);
}

.change a:visited {
  color: hsl(245, 75%, 52%);
}

.change a:hover {
  text-decoration: none;
  opacity: 0.8;
}

/* Button */
.pay {
  background-color: hsl(245, 75%, 52%);
  color: white;
  padding: 15px 32px;
  margin: 40px 30px 20px 30px;
  width: 350px;
  height: 50px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 600;
}

.pay:hover {
  opacity: 0.7;
}

.pay a:link {
  text-decoration: none;
  color: white;
}

.pay a:visited {
  text-decoration: none;
  color: white;
}

.cancel {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  color: hsl(215, 5%, 52%);
}

.cancel a:link {
  color: hsl(215, 5%, 52%);
  text-decoration: none;
}

.cancel a:visited {
  color: hsl(215, 5%, 52%);
}

.cancel a:hover {
  color: black;
}

/* Footer */
.attribution {
  font-size: 10px;
  text-align: center;
  font-style: italic;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  opacity: 0.5;
  text-decoration: none;
}
